:host {
  display: inline-flex;
  align-items: center;

  box-sizing: content-box;
  outline: none;
  border: 1px solid var(--etc-sem-color-border-neutral-contrast);
  border-radius: 5px;
  padding: 12px;
  max-height: 52px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 18px;
  white-space: pre;
  word-wrap: break-word;

  &:focus {
    margin: -1px;
    border: 2px solid var(--etc-sem-color-border-brand);
  }

  &:empty:before {
    content: attr(data-placeholder);
    color: var(--etc-sem-color-text-weakest);
    cursor: text;
  }
}
