.map-container {
  position: relative;
  cursor: move;
  width: fit-content;

  > div.my-point {
    cursor: pointer;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: var(--etc-color-grey-secondary);
    border: solid 2px var(--etc-color-grey-primary);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.pointer-events-none {
      pointer-events: none;
    }

    .etc-icon {
      color: white;
    }
  }
}

.etc-dialog-container {
  &:focus-visible {
    outline: none;
  }
}

etc-radio-button {
  label {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
    overflow: hidden;
  }
}

.color-picker {
  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &.picker--selected {
    outline: solid 1px black;
    filter: brightness(80%);
  }
}

body {
  app-root-tester {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--etc-color-background);

    --_top-offset: var(--etc-app-header--height);
  }
}

.etc-sidenav-container {
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  min-width: 0;

  router-outlet.etc-main-router-outlet + * {
    overflow-y: auto;
  }
}

.component-host {
  position: relative;
  min-height: 100px;
  min-width: 200px;
  border-radius: 8px;
  border: solid 1px var(--etc-sem-color-border-neutral);
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 0.98;
  transition: all 250ms ease;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 8px;
    transition: all 500ms ease;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    font-size: var(--etc-prim-font-size-2);
    white-space: nowrap;
  }
}

.loading {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  animation-play-state: paused;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  &.loading-on {
    animation-play-state: running;
    scale: 1;

    &:before {
      backdrop-filter: brightness(60%);
    }
  }
}

.custom-tooltip {
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  pointer-events: none;
  z-index: 10000;
  white-space: nowrap;
}
